<div class="col-sm-12 cointiner">
    <div class="card">
        <div class="card-header">
            <h4 class=" header-title mt-0">Stories List </h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <form [formGroup]="storiesForm" (ngSubmit)="onSubmit()">
                    <div class="col-sm-6">
                        <div class="form-group col-sm-8">
                            <label>Section</label><label style="color: red;">*</label>
                            <select class="form-control" formControlName="section">
                                <option value="">Select The List</option>
                                <option *ngFor="let item of listData" [ngValue]="item">{{item}}</option>
                            </select>
                        </div>
                    </div><br>
                    <div class="col-sm-6">
                        <div class="form-group col-sm-8">
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive" *ngIf="data">
                <table class="table table-striped mb-0">
                    <thead style="background-color:#2cc0a2;">
                        <tr>
                            <th>Section</th>
                            <th>byline</th>
                            <th>Item Type</th>
                            <th>Created Date</th>
                            <th>Published Date</th>
                            <th>SHORT URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.section}}</td>
                            <td>{{item.byline}}</td>
                            <td>{{item.item_type}}</td>
                            <td>{{item.created_date | date: 'MMM d, y'}}</td>
                            <td>{{item.published_date | date: 'MMM d, y'}}</td>
                            <td>{{item.short_url}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>